html {
    font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
    line-height: 1.5;
    font-size: 15px;
    font-weight: 400;
}

body {
    background-color: #121316;
    color: white;
    height: 100vh;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
    margin: 0 0 10px 0;
    font-weight: normal;
}

h2 {
    font-size: 1.6rem;
    font-weight: 700;
}

a {
    color: #76daff;
    text-decoration: none;
}